*{
    margin: 0;
    padding: 0;
}
:root{
    --navbar-height:56px
}


#logo{
margin: 0px 0px;
}
#logo img{
margin: 0px 0px;
height: 100px;
}
#navbar{
    position: relative;
    display: flex;
    align-items: center;
    top: 0px;  
}
#navbar ul{
    display: flex;
}
#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 12;
}
#navbar ul li{
    list-style: none;
    font-size: 2.3rem;
}
#navbar ul li a{
    color: rgb(38, 8, 206);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
color: rgb(43, 15, 197);
background-color: rgb(32, 138, 76);
}
#home{
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}
#home ::before{
    content: "";
    background:url(./windows-gde1e90ac9_1920.jpg) no-repeat center center/cover;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: rgb(10, 10, 10);
    text-align: center;
}
#services{
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .box{
    border: 3px solid rgb(165, 9, 17);
    padding: 14px;
    margin: 14px 14px;
    border-radius: 20px;
    background-color: rgb(197, 157, 230);
    display: flex;
    
}
#services  .box img{
    height: 110px;
    margin: auto;
    display: block;
}
#service.box p{
    font-family: fantasy;
    font-size: 3.2rem;
}
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('./new-years-day-gcf29da417_1920.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 354px;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1.0;
    background: url('./background-g31d995d34_1920.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.3rem;
} 

#contact-box form{
    width: 50%;
}

#contact-box label{
   font-size: 1.0rem;

}


footer{
    background: rgb(47, 2, 2);
    color: white;
    padding: 9px 20px;
}

#home p{
    color: rgb(44, 4, 117);
    text-align: center;
    font-size: 1.8rem;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(60, 23, 146);
    color: white;
    margin: 19px;
    border-radius: 110px;
    cursor: pointer;
}
.centre{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}






